/* IMPORTS */
@import url('./styleSheets/Variables.css');

/* GENERALS */
* {
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--n);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

img{
  max-width: 100%;
  height: auto;
}

.App{
  padding: 30px;
}